[Unit]
Description=Digital Wellbeing for Hyprland
After=network.target

[Service]
WorkingDirectory=%h/digilinux
ExecStart=%h/digilinux/digital/bin/python3 %h/digilinux/app.py
Restart=always

[Install]
WantedBy=default.target
